<span><h2>{{title}} app is running</h2></span>

<div class="container">
  <h4>Parent Component</h4>
  <p>
    To send whatever is entered in the text feild to child component <br>
    Enter the name : 
    <input type="text" class="form-control" [(ngModel)]="EnterName"/>
    Enter the age: 
    <input type="text" class="form-control" [(ngModel)]="EnterAge"/>
    Marital status: 
    <input type="text" class="form-control" [(ngModel)]="EnterStatus"/>
    <input type="button" value="send" (click)="transferData()" class="btn btn-primary">
  </p>


  <app-home
    [parentData1]="ParentData1"
    [parentData2]="ParentData2"
    [parentData3]="ParentData3"
  ></app-home>
</div>
